#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {

   // Activate ADJUST layer by pressing raise and lower
    conditional_layers {
        compatible = "zmk,conditional-layers";
        adjust_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
/* QWERTY
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   Q  |   W  |   E  |   R  |   T  |                      |   Y  |   U  |   I  |   O  |   P  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   A  |   S  |   D  |   F  |   G  |                      |   H  |   J  |   K  |   L  |   ;  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   Z  |   X  |   C  |   V  |   B  |  |Mute |    |  -  |  |   N  |   M  |   ,  |   .  |   /  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *                    ,---------------------.            ,---------------------.
 *                    | GUI | LOWER | SPACE |            | ENTER | RAISE | ALT |
 *                    `---------------------'            `---------------------'
 */
            bindings = <
    &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y   &kp U       &kp I       &kp O       &kp P
    &kp A       &kp S       &kp D       &kp F       &kp G               &kp H   &kp J       &kp K       &kp L       &kp SEMI
    &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N   &kp M       &kp COMMA   &kp DOT     &kp FSLH
                &kp LGUI    &mo LOWER   &kp SPC     &kp C_MUTE          &none   &kp RET     &mo RAISE   &kp RALT
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PAGE_UP PAGE_DOWN
            >;
        };

        lower_layer {
/* LOWER
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   1  |  2   |  3   |  4   |   5  |                      |   6  |   7  |   8  |   9  |   0  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * | TAB  |      | LCTRL| SHIFT|      |                      | LEFT | DOWN |  UP  |RIGHT |  :   |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * | ESC  |      |CTRL+C| CLCK | BSPC |  |Boot |    |  -  |  | LGUI |      |  `   |  ~   |  ?   |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *                    ,---------------------.            ,---------------------.
 *                    | GUI | LOWER | SPACE |            | ENTER | RAISE | ALT |
 *                    `---------------------'            `---------------------'
 */
            bindings = <
    &kp N1        &kp N2      &kp N3      &kp N4      &kp N5                       &kp N6      &kp N7     &kp N8      &kp N9      &kp N0
    &kp TAB       &none       &kp LCTRL   &kp LSHIFT  &none                        &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT   &kp COLON
    &kp ESC       &none       &kp LC(C)   &kp CLCK    &kp BSPC                     &kp LGUI    &none      &kp GRAVE   &kp TILDE   &kp QMARK
                  &kp LGUI    &trans      &kp SPC     &kp C_MUTE           &none   &kp LS(RET)     &mo RAISE  &kp RALT
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PAGE_UP PAGE_DOWN
            >;
        };

        raise_layer {
/* RAISE
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   !  |   @  |   #  |   $  |   %  |                      |   ^  |  &   |   *  |  (   |   )  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |  W1  |  W2  |  W3  |   '  |   "  |                      |   -  |   =  |   [  |   ]  |   \  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |  T1  |  T2  |  T3  |   <  |   >  |  |  -  |    |Boot |  |   _  |   +  |   {   |  }  |  |   |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *                    ,---------------------.            ,---------------------.
 *                    | GUI | LOWER | SPACE |            | ENTER | RAISE | ALT |
 *                    `---------------------'            `---------------------'
 */
            bindings = <
    &kp EXCL       &kp AT      &kp HASH    &kp DLLR    &kp PRCNT                &kp CARET       &kp AMPS        &kp ASTRK           &kp LPAR    &kp RPAR
    &none          &none       &none       &none       &none                    &kp MINUS       &kp EQUAL       &kp LBKT            &kp RBKT    &kp BSLH
    &none          &none       &none       &none       &none                    &kp UNDER       &kp PLUS        &kp LBRC            &kp RBRC    &kp PIPE
                   &kp LGUI    &mo LOWER   &kp SPC     &kp C_MUTE       &none   &kp RET         &trans          &kp RALT
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PAGE_UP PAGE_DOWN
            >;
        };


        adjust_layer {
/* ADJUST
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |      |      | BTCLR|      | Reset|                      | Reset|  F7  |  F8  |  F9  |  F11 |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |  BT0 |  BT1 |  BT2 |  BT3 |  BT4 |                      |      |  F4  |  F5  |  F6  |  F12 |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |      |      |      |      |      |  |  -  |    |  -  |  |  F10 |  F1  |  F2  |  F3  |  F13 |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *                    ,---------------------.            ,---------------------.
 *                    | GUI | LOWER | SPACE |            | ENTER | RAISE | ALT |
 *                    `---------------------'            `---------------------'
 */
            bindings = <
    &trans          &trans          &bt BT_CLR      &trans          &sys_reset          &sys_reset  &kp F7  &kp F8      &kp F9      &kp F11
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4        &trans      &kp F4  &kp F5      &kp F6      &kp F12
    &trans          &trans          &trans          &trans          &trans              &kp F10     &kp F1  &kp F2      &kp F3      &kp F13
                    &kp LGUI    &mo LOWER   &kp SPC     &kp C_MUTE          &none   &kp RET     &mo RAISE   &kp RALT
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PAGE_UP PAGE_DOWN
            >;
        };

    };
};
